In [ ]:
#import necessary packages
import requests 
from bs4 import BeautifulSoup

In [ ]:
#Retrieve the html through request
url = "https://en.wikipedia.org/wiki/World_Happiness_Report"
page= requests.get (url)

In [ ]:
#The html retrieved using the request module above
page.content

In [ ]:
#Use beautifulsoup to parse the html and .prettify() make html into readable format
soup = BeautifulSoup (page.content, 'html.parser')
print(soup.prettify())

In [ ]:
#Since we are scraping from a table, we use soup.findall to find all 'table' tags.
All_table = soup.findAll('table')
All_table

In [ ]:
#Look at raw html, count # of html tags untill you find the one we want, which is the 9th table
All_table[9]

In [ ]:
#The table that we want has a class of 'wikitable sortable'
#use .find() to find one instance of it
table = soup.find ('table', class_= 'wikitable sortable')
table

In [ ]:
#Creating lists for columns in the table 
L1 = []
L2 = []
L3 = []
L4 = []
L5 = []
L6 = []
L7 = []
L8 = []
L9 = []

for row in table.findAll('tr'):  #For each table row, we want to run through each table data and get the text
  cells = row.findAll('td')     
  if(len(cells) == 9):  #If the length of the table data is 9, because there exists 9 columns, then we can use .find(text=True) to extract the numbers. 
    L1.append(cells[0].find(text=True).rstrip("\n"))
    # Ran into an error where it was printing ‘\xa0’, I suspect that it’s because they had an image of the flag first, so I used .get_text(strip=True) instead to extract only the name of the country.
    L2.append(cells[1].get_text(strip=True).rstrip("\n")) #Only non-numerical text, only want name of country
    L3.append(cells[2].find(text=True).rstrip("\n"))
    L4.append(cells[3].find(text=True).rstrip("\n"))
    L5.append(cells[4].find(text=True).rstrip("\n"))
    L6.append(cells[5].find(text=True).rstrip("\n"))
    L7.append(cells[6].find(text=True).rstrip("\n"))
    L8.append(cells[7].find(text=True).rstrip("\n"))
    L9.append(cells[8].find(text=True).rstrip("\n"))

In [ ]:
#Creating dataframe
import pandas as pd
df=pd.DataFrame()
#Conver list to dataframe
#Each list goes into their respective columns in the dataframe
df['Overall rank'] = L1
df['Country or region'] = L2
df['Score'] = L3
df['GDP per capita'] = L4
df['Social support'] = L5
df['Healthy life expectancy'] = L6
df['Freedom to make life choices'] = L7
df['Generosity'] = L8
df['Perceptions of corruption'] = L9

#.set_index to overall rank since pandas automatically assigns their own column of indexes starting with 0, which we don’t need.
df.set_index('Overall rank', inplace=True)
df

                     Country or region  ... Perceptions of corruption
Overall rank                            ...
1                              Finland  ...                     0.478
2                              Denmark  ...                     0.495
3                          Switzerland  ...                     0.408
4                              Iceland  ...                     0.145
5                               Norway  ...                     0.434
...                                ...  ...                       ...
149           Central African Republic  ...                     0.028
150                             Rwanda  ...                     0.486
151                           Zimbabwe  ...                     0.081
152                        South Sudan  ...                     0.111
153                        Afghanistan  ...                     0.001

[153 rows x 8 columns]

In [ ]:
#Note that each column is an object
df.dtypes

Country or region               object
Score                           object
GDP per capita                  object
Social support                  object
Healthy life expectancy         object
Freedom to make life choices    object
Generosity                      object
Perceptions of corruption       object
dtype: object

In [ ]:
#Convert each numerical column to float64
df[['Score','GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]= df [['Score','GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']].apply(pd.to_numeric)
df.dtypes
#Note we now have the numerical columns as float

Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [ ]:
#Now we can use .describe() to describe only the numerical columns
df.describe()

            Score  GDP per capita  ...  Generosity  Perceptions of corruption
count  153.000000      153.000000  ...  153.000000                 153.000000
mean     5.473255        0.868778  ...    0.189366                   0.130719
std      1.112288        0.372418  ...    0.100433                   0.113087
min      2.567000        0.000000  ...    0.000000                   0.000000
25%      4.724000        0.576000  ...    0.115000                   0.056000
50%      5.515000        0.919000  ...    0.177000                   0.098000
75%      6.228000        1.169000  ...    0.256000                   0.163000
max      7.809000        1.537000  ...    0.570000                   0.533000

[8 rows x 7 columns]

In [ ]:
#Export as csv
df.to_csv('World Happiness Report.csv')